Variables

In [1]:
a = 5
a

5

In [2]:
b = 'Seajal'
b
a

5

In [3]:
c = "Seajal"
c

'Seajal'

In [4]:
print(a)
print(b)

5
Seajal

In [5]:
x = str(5)    
y = int(5)    
z = float(5)

print(x)
print(y)
print(z)

5
5
5.0

In [11]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [12]:
p = 'Seajal'
P = 'Gupta'

In [13]:
print(p)
print(P)

Seajal
Gupta

In [14]:
print(p + ' ' + P)

Seajal Gupta

In [15]:
print(a+y)

10

In [16]:
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
variable = 5
vari_able = 5
_variable = 5
Variable = 5
VARIABLE = 5
variable5 = 5

In [18]:
5variable = 5

SyntaxError: invalid decimal literal (3299328541.py, line 1)

In [19]:
vari-able = 5

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (225172146.py, line 1)

In [20]:
var$able = 5

SyntaxError: invalid syntax (3601564415.py, line 1)

In [21]:
vari able =5

SyntaxError: invalid syntax (1683983009.py, line 1)

In [22]:
Variable1,Variable2,Variable3  = '1','2','3'

In [23]:
print(Variable1)
print(Variable2)
print(Variable3)

1
2
3

In [24]:
Variable1=Variable2=Variable3 = 5

In [25]:
print(Variable1)
print(Variable2)
print(Variable3)

5
5
5

Datatypes

In [27]:
x1 = 5
x2 = 'seajal'
x3 = 5.0
x4 = True
x5 = 5j
x6 = [1,2,3]
x7 = {1,2,3}
x8 = (1,2,3)
x9 = {'naam' : 'seajal', 'kaam' : 'To study'}
x10 = None

In [28]:
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))
print(type(x10))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>

Numbers

In [29]:
num1 = 5
num2 = -5
num3 = 5555555555555555555555555
num4 = 5555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555

In [30]:
import sys
print(sys.getsizeof(num4))
print(sys.getsizeof(num3))
print(sys.getsizeof(num1))

76
36
28

In [31]:
print(type(num1))
print(type(num2))
print(type(num3))

<class 'int'>
<class 'int'>
<class 'int'>

In [32]:
float1 = 5.0
float2 = -5.5
float3 = 123e4

In [33]:
print(type(float1))
print(type(float2))
print(type(float3))

<class 'float'>
<class 'float'>
<class 'float'>

In [34]:
com1 = 0+1j
com2 = 5j
com3 = 1+2j
com4 = -5j

In [35]:
print(type(com1))
print(type(com2))
print(type(com3))
print(type(com4))

<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [36]:
int1 = int(float1)
int2 = int(com1)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [37]:
complex1 = complex(num1)

In [38]:
complex1

(5+0j)

Strings

In [39]:
X = '''Helloo guyss
to badbjcadj jdhjhda,
dckjdahhvudihvda'''
print(X)

Helloo guyss
to badbjcadj jdhjhda,
dckjdahhvudihvda

In [2]:
type(X)

str

In [41]:
Y = """Hello and eefewj ieejnfn jnfefi jfjnejaf,
ehfieiafaen"""
print(Y)

Hello and eefewj ieejnfn jnfefi jfjnejaf,
ehfieiafaen

In [42]:
Z = 'seajal'
print(Z[0])
print(Z[1])
print(Z[2])
print(Z[3])
print(Z[4])
print(Z[5])
print(Z[6])
print(Z[7])

s
e
a
j
a
l

IndexError: string index out of range

In [43]:
print(len(Z))

6

In [44]:
print(len(X))

51